<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

        <link rel="stylesheet" href="/styles/roboto.css">
        <link rel="stylesheet" href="/styles/normalize.css">
        <link rel="stylesheet" href="/styles/milligram.min.css">
    </head>
    <body>
    <div  class="container">
              <br/>
      <h1>{{ page.title }}</h1>
              <br/>

      <div class="row">
              <div class="column column-70">

                      {{ page.content }}

              </div>
              <div class="column column-30">
                      <img src="images/fgc-9_ad.jpg"/>
                      <img src="images/i-am-extremely-peaceful.jpg"/>
              </div>
      </div>
    </div>
  </body>
</html>
